<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 			column="TRAN_NO" 		 	jdbcType="NUMERIC" />
		<result property="purchaseProd.prodNo" 	column="PROD_NO" 		 	jdbcType="NUMERIC" />
		<result property="buyer.userId" 			column="BUYER_ID" 		 	jdbcType="VARCHAR"/>
		<result property="paymentOption" 	column="PAYMENT_OPTION" 	jdbcType="CHAR" />
		<result property="receiverName" 	column="RECEIVER_NAME" 		jdbcType="VARCHAR" />
		<result property="receiverPhone" 	column="RECEIVER_PHONE" 	jdbcType="VARCHAR" />
		<result property="divyAddr"			column="DEMAILADDR" 		jdbcType="VARCHAR" />
		<result property="divyRequest" 		column="DLVY_REQUEST" 		jdbcType="VARCHAR" />
		<result property="tranCode" 		column="TRAN_STATUS_CODE" 	jdbcType="CHAR" />
		<result property="orderDate" 		column="ORDER_DATA" 		jdbcType="DATE" />
		<result property="divyDate" 		column="DLVY_DATE" 	 		jdbcType="DATE" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addPurchase"		parameterType="purchase" >
		INSERT
		INTO transaction (TRAN_NO,PROD_NO,BUYER_ID,PAYMENT_OPTION,RECEIVER_NAME,RECEIVER_PHONE,DEMAILADDR,DLVY_REQUEST,TRAN_STATUS_CODE,DLVY_DATE,ORDER_DATA)
		VALUES (seq_transaction_tran_no.NEXTVAL,#{purchaseProd.prodNo},#{buyer.userId},#{paymentOption},#{receiverName.userName:VARCHAR},#{receiverPhone.phone:VARCHAR},#{divyAddr:VARCHAR},#{divyRequest:VARCHAR},0,SYSDATE,#{divyDate:DATE})
	</insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getPurchase"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT
		PROD_NO , BUYER_ID , PAYMENT_OPTION , RECEIVER_NAME ,  RECEIVER_PHONE ,  DEMAILADDR ,DLVY_REQUEST,DLVY_DATE, ORDER_DATA 		
		FROM  transaction
		WHERE tran_no = #{value}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option 		= #{paymentOption} ,
			receiver_name		= #{receiverName},
			receiver_phone      = #{receiverPhone:VARCHAR},
			DEMAILADDR			= #{divyAddr:VARCHAR},
			dlvy_request		= #{divyRequest:VARCHAR},
			dlvy_date			= #{divyDate:DATE}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getPurchaseList"  parameterType="map"	resultMap="purchaseSelectMap">

		SELECT *
		FROM(SELECT inner_table.* , ROWNUM AS row_seq
    		 FROM(SELECT t.tran_no,t.buyer_id,t.receiver_name,t.receiver_phone,t.tran_status_code
            		FROM transaction t, users u
            		WHERE t.buyer_Id = #{buyer} and t.buyer_Id = u.user_id
            		ORDER BY tran_No) inner_table
     				WHERE ROWNUM &lt;= #{search.endRowNum})
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
		
	 </select>
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="updateTranCodePurchase"  parameterType="purchase"	 resultType="String">
	  	UPDATE transaction					
	  	<set>
	  		tran_status_code = #{tranCode}
	  	</set>
	  		WHERE 
	  		<if test="tranNo != 0">
	  			tran_no = #{tranNo}
	  		</if>
	  		<if test="purchaseProd.prodNo != 0">
	  			prod_no = #{purchaseProd.prodNo}
	  		</if>
	 </select>
	  <select  id="getTotalCount"  parameterType="search"	 resultType="int">
		 SELECT COUNT(*) 
		 FROM ( SELECT t.* 
		 		FROM transaction t, users u 
		 		WHERE t.buyer_Id = 'user10' AND t.buyer_Id = u.user_id 
		 		ORDER BY tran_No) countTable
	 
	 </select>
</mapper>